[alias]
  m  = merge
  ma = merge --abort
  mf = merge --ff-only
  mff = merge --ff-only
  mm = merge -m
  mmne = merge main --no-edit
  mn = merge --no-edit
  mnm = merge --no-edit -m
  mne = merge --no-edit
  mnf = merge --no-ff
  mnef = merge --no-edit --no-ff
  mnnf = merge --no-edit --no-ff
  mt = mergetool -y -t
  mtnb = mergetool -y -t nbdime
  mu = merge upstream/HEAD
  mun = merge upstream/HEAD --no-edit
  mune = merge upstream/HEAD --no-edit
