[alias]
  rvl = rev-list
  rla = rev-list --all
  rlc = rev-list --count
  rlfp = rev-list-first-parents
  ac = all-commits
  ah = all-hashes
  cc = count-commits
  tail = rev-list --max-parents=0 HEAD
  rvp = rev-parse
  commits-behind = rev-list --count
  cbh = commits-behind
