[alias]
  ac = all-commits
  ach = all-commits %h
  ah = all-hashes
  cc = count-commits
  rvl = rev-list
  rlp = rev-list --parents
  rlp1 = rev-list --parents -n1
  rla = rev-list --all
  rlc = rev-list --count
  rlfp = rev-list-first-parents
  root-commits = rev-list --max-parents=0
  rtc = root-commits
  rtch = root-commits HEAD
  tail = rev-list --max-parents=0 HEAD
  rvp = rev-parse
  rvph = rev-parse HEAD
  rph = rev-parse HEAD
  commits-behind = rev-list --count
  cbh = commits-behind
  parents = !git-parents.py
  pts = !git-parents.py
  prnts = !git-parents.py
  syq = symbolic-ref -q
  syr = symbolic-ref
  sys = symbolic-ref --short
  sysq = symbolic-ref --short -q
  ssq = symbolic-ref --short -q
