[alias]
  f   = fetch --tags
  ft  = fetch --tags
  fa  = fetch --tags --all
  fta = fetch --tags --all
  fo  = fetch --tags origin
  fu  = fetch --tags upstream
  fr  = fetch --tags --recurse-submodules
  fro = fetch --tags --recurse-submodules origin
  fru = fetch --tags --recurse-submodules upstream
  for = fetch --tags --recurse-submodules origin
  fur = fetch --tags --recurse-submodules upstream
