[alias]
  f   = fetch-x --tags
  f1  = fetch-x --depth 1
  fb  = fetch-x
  fd  = fetch-x --depth
  fd1 = fetch-x --depth 1
  fd2 = fetch-x --depth 2
  fd3 = fetch-x --depth 3
  ff  = fetch-x --force --tags
  ft  = fetch-x --tags
  ftf  = fetch-x --tags -f
  fa  = fetch-x --tags --all
  fta = fetch-x --tags --all
  fo  = fetch-x --tags origin
  fpr = fetch-x --prune
  fu  = fetch-x --tags u
  fr  = fetch-x --tags --recurse-submodules
  fro = fetch-x --tags --recurse-submodules origin
  fru = fetch-x --tags --recurse-submodules u
  for = fetch-x --tags --recurse-submodules origin
  fur = fetch-x --tags --recurse-submodules u
