[alias]
  cp   = cherry-pick
  cpa  = cherry-pick --abort
  cpc  = cherry-pick --continue
  cph  = cherry-pick-head
  cpn  = cherry-pick -n
  cppcd = cherry-pick-preserve-commit-date
  cps  = cherry-pick --skip
  cpsh = cherry-pick-show-head
  shch = cherry-pick-show-head
  acpc = add-and-cherry-pick-continue
