[alias]
  acpc = add-and-cherry-pick-continue
  ch   = cherry-pick-head
  cp   = cherry-pick
  cp1  = cherry-pick -m1
  cp2  = cherry-pick -m2
  cpa  = cherry-pick --abort
  cpc  = cherry-pick --continue
  cph  = cherry-pick-head
  cpn  = cherry-pick -n
  cppcd = cherry-pick-preserve-commit-date
  cps  = cherry-pick --skip
  cpsh = show-cherry-pick-head
  sch  = show-cherry-pick-head
  scp  = show-cherry-pick-parent
  scpw = show-cherry-pick-parent -w
  scw  = show-cherry-pick-head -w
  shc  = show-cherry-pick-head
  shch = show-cherry-pick-head
  shcp = show-cherry-pick-parent
  shcw = show-cherry-pick-head -w
  shwc = show-cherry-pick-head -w
  shwch = show-cherry-pick-head -w
  swc = show-cherry-pick-head -w
