[alias]
  bs = bisect
  bsg = bisect good
  bhs = bisect-head
  bsb = bisect bad
  bsl = bisect log
  brr = bisect-reverse-run
  bsr = bisect run
  bss = bisect start
  bssr = bisect-start-run
  bsx = bisect reset
  bcag = bisect-commits-ahead-good
  bcbb = bisect-commits-behind-bad
  beb = bisect-earliest-bad
  blg = bisect-latest-good
