[alias]
  l       = ls-files
  ls      = ls-files
  lso     = ls-files --other --exclude-standard --directory
  lsh = ls-hashes
  fn = find
  fns = find-suffix
  fs = find-suffix
  fnp = find-prefix
  fp = find-prefix
  lsu = list-unstaged
  lu = list-unstaged
  deleted-by-them = list-status UD
  dbt = list-status UD
  deleted-by-us = list-status DU
  dbu = list-status DU
  added-by-them = list-status UA
  abt = list-status UA
  added-by-us = list-status AU
  abu = list-status AU
  both-deleted = list-status DD
  brm = list-status DD
