[alias]
  ad = !git --no-pager log --format=%ad -1
  adl = !git --no-pager log --format=%ad
  adi1 = !git --no-pager log --format=%ad --date=iso -1
  bh = blob-hash
  bhi = blob-hash -i
  bhis = blob-hash -is
  bhs = blob-hash -s
  blob-hash = blob-sha
  body = !git --no-pager log -1 --format=%B
  b0 = body HEAD
  b1 = body HEAD@{1}
  b2 = body HEAD@{2}
  b3 = body HEAD@{3}
  by = body
  by0 = body HEAD
  by1 = body HEAD@{1}
  by2 = body HEAD@{2}
  by3 = body HEAD@{3}
  byh1 = body HEAD@{1}
  byp = body HEAD^
  cdi1 = !git --no-pager log --format=%cd --date=iso -1
  dates = log '--format=%ad %cd'
  details = log '--format=%H %T%n%an <%ae> (%ad)%n%cn <%ce> (%cd)%n%B'
  dtl = details
  dt1 = details -1
  dts = dates
  dts1 = !git --no-pager dates -1
  ds1 = !git --no-pager dates -1 --date=iso
  hash-blob = blob-sha
  hb = blob-hash
  hbi = blob-hash -i
  hbis = blob-hash -is
  hbs = blob-hash -s
  cur = log -1 --oneline
  files = diff-tree --no-commit-id --name-only -r
  lsf = diff-tree --no-commit-id --name-only -r
  lsc = diff-tree --no-commit-id --name-only -r
  history = log --full-diff -p
  L = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n%n%B' --date=relative
  hashes = hash
  hsh = full-hash
  l1l = log-oneline
  lol = log --oneline
  ladr = log --name-status --diff-filter=ADR
  lg = log
  lno = log --name-only
  lns = log --name-status
  lgg = log -S
  lgpg = log -p -S
  lggp = log -p -S
  lgs = log --stat
  lst = log --stat
  lp  = log -p
  lpp = log -p --
  lg1 = log-oneline
  lh = log-hash
  lhr = log-hash --reverse
  nlh = !git --no-pager log-hash
  ln = list-n
  ln1 = list-n 1
  ln2 = list-n 2
  ln3 = list-n 3
  ln4 = list-n 4
  ln5 = list-n 5
  ln6 = list-n 6
  ln7 = list-n 7
  ln8 = list-n 8
  ln9 = list-n 9
  ln20 = list-n 20
  lnw = log --no-walk
  lpf = log -p --follow
  lpw = log -p -w
  lpwf = log -p -w --follow
  lw = log --follow
  lws = log --follow --stat
  hash-message = log -1 '--format=%h %s'
  hm = !git --no-pager log -1 '--format=%h %s'
  msg = !git --no-pager log -1 --format=%s
  sbj = !git --no-pager log -1 --format=%s
  l1 = !git --no-pager log -1
  l1f = !git --no-pager log-1-format
  l1ft = !git --no-pager log-1-format t
  l1fT = !git --no-pager log-1-format T
  l1r = !git --no-pager log-1-format -r
  l1t = l1ft
  l1T = l1fT
  fh = full-hash
  fm = log-format
  lf = log-format
  lgf = log-format
  log-format-1 = !git --no-pager log-1-format
  fm1 = !git --no-pager log-1-format
  lf1 = !git --no-pager log-1-format
  lgf1 = !git --no-pager log-1-format
  rwa = rewrite-author
  sha = hash
  shas = hash
  sj = log -n1 --format=%s
  subject = log -n1 --format=%s
  ta = time-author
  tc = time-committer
  time-author = !git --no-pager log --format=%ad -1
  time-committer = !git --no-pager log --format=%cd -1
  tree = log --no-walk --format=%T
  wh = l1t
  wt = l1t
