[alias]
	c	= commit
	ca	= commit -a
	cm	= commit -m
	cne = commit --no-edit
	cmp = commit-multiple-parents
	caam	= commit -a --amend -m
	cam	= commit -a -m
	cane	= commit --amend --no-edit
	caane	= commit -a -u --amend --no-edit
	scm	= squashed-commit-message
	cn = commit --amend
	cnm = commit --amend -m

