[alias]
  acm   = add-and-commit-msg
  c     = commit
  ca    = commit -a
  cbn   = commit-basename
  cbns   = commit-basenames
  cfn   = commit-filename
  cfns   = commit-filenames
  cm    = commit -m
  cne   = commit --no-edit
  cmp   = commit-multiple-parents
  caam  = commit -a --amend -m
  cam   = commit -a -m
  can   = commit --amend --no-edit
  cane  = commit --amend --no-edit
  caan  = commit -a -u --amend --no-edit
  caane = commit -a -u --amend --no-edit
  scm   = squashed-commit-message
  cn    = commit --amend
  cnm   = commit --amend -m
  cap   = commit-push
  caap  = commit-push -a
  cpm   = commit-push -m
  capm  = commit-push -a -m
  caapm = commit-push -a -m
  cpam  = commit-push -a -m
  cpp   = commit-push-parents
  cppa  = commit-push-parents -a
  cppam = commit-push-parents -a -m
  cppm  = commit-push-parents -m
  fua   = fixup-author
  om    = octomerge
  pp    = commit-push-parents
  ppa   = commit-push-parents -a
  ppam  = commit-push-parents -a -m
  ppm   = commit-push-parents -m
  ppr   = push-parents
  pps   = push-parents
