[alias]
  acm   = add-and-commit-msg
  afp   = amend-force-push
  aafp  = amend-force-push -a
  apf   = amend-force-push
  apfu  = amend-force-push u
  aapf  = amend-force-push -a
  aapfu = amend-force-push -a u
  author = !git --no-pager log -1 '--format=%an <%ae>'
  aut   = author
  c     = commit
  ca    = commit -a
  caa   = commit -a --amend
  caam  = commit -a --amend -m
  cam   = commit -a -m
  camt  = !git-commit-and-tag.sh -a
  camtf = !git-commit-and-tag.sh -a -f
  can   = commit --amend --no-edit
  cane  = commit --amend --no-edit --allow-empty
  canea = commit --amend --no-edit --allow-empty --author
  caan  = commit -a -u --amend --no-edit
  caane = commit -a -u --amend --no-edit --allow-empty
  cbn   = commit-basename
  cbns  = commit-basenames
  cfn   = commit-filename
  cfns  = commit-filenames
  cae   = commit --allow-empty
  caem  = commit --allow-empty -m
  cm    = commit -m
  cmab  = commit-body -a
  cmb   = commit-body
  cmt   = !git-commit-and-tag.sh
  cmtf  = !git-commit-and-tag.sh -f
  cmp   = commit-multiple-parents
  cmtr  = commit-tree
  cmtrr = commit-tree-reset
  cn    = commit --amend
  cne   = commit --no-edit
  cnm   = commit --amend -m
  cpau  = copy-author
  cap   = commit-push
  caap  = commit-push -a
  cpm   = commit-push -m
  capm  = commit-push -a -m
  caapm = commit-push -a -m
  cpam  = commit-push -a -m
  cpp   = commit-push-parents
  cppa  = commit-push-parents -a
  cppam = commit-push-parents -a -m
  cppm  = commit-push-parents -m
  csp   = set-parents
  ctr   = commit-tree
  ctrr  = commit-tree-reset
  ctrs  = commit-tree-reset
  fua   = fixup-author
  get-author-date = !git --no-pager log -1 --format=%ad
  get-committer-date = !git --no-pager log -1 --format=%cd
  gad   = get-author-date
  gcd   = get-committer-date
  om    = octomerge
  pp    = commit-push-parents
  ppa   = commit-push-parents -a
  ppam  = commit-push-parents -a -m
  ppm   = commit-push-parents -m
  ppr   = push-parents
  pps   = push-parents
  empty-tree = hash-object -t tree /dev/null
  et    = empty-tree
  sad   = set-author-date
  sau   = set-author
  saut  = set-author
  scd   = set-committer-date
  scm   = squashed-commit-message
  sds   = set-dates
  tr0   = empty-tree
  rcdrbh = reset-committer-date-rebase-head
