[alias]
  d    = diff
  da   = diff-pipe
  das  = diff-pipe sort
  dp   = diff-pipe
  dph  = diff HEAD^..HEAD
  dps  = diff-pipe sort
  dc   = diff --cached
  df   = diff
  dft  = difftool
  dh   = diff HEAD
  dn   = diff --name-status
  dno  = diff --name-only
  dns  = diff --name-status
  dq   = diff --quiet
  ds   = diff --stat
  dsc  = diff --stat --cached
  dcs  = diff --stat --cached
  dsh  = diff --stat HEAD
  dsp  = diff --stat HEAD^
  dsph = diff --stat HEAD^..HEAD
  dsu  = diff-stat-parent
  dt   = diff-tree
  dtp  = diff-tree -p
  du   = diff -u
  d1   = diff-no-context

  has-changes = is-dirty
  has-no-changes = is-clean
  hc = has-changes
  hnc = has-no-changes
  is-clean = diff --quiet --exit-code HEAD
  is-dirty = ! ! git is-clean
  ic = is-clean
  id = is-dirty
  no-diff = diff --quiet --exit-code HEAD

[diff]
  submodule = diff
