[alias]
  d  = diff
  dc = diff --cached
  df = diff
  dft = difftool
  dh = diff HEAD
  dp = diff -p
  ds = diff-stat
  dt = diff-tree
  dtp = diff-tree -p
  du = diff -u
  d1 = diff-no-context
  dn = diff --name-only
