[alias]
  eq = equal
  sh = show
  sfh = show-sha-file HEAD
  shf = show-sha-file
  shfp = show-sha-file HEAD^
  ssf = show-sha-file
  shp = show HEAD^
  shp2 = show HEAD~2
  shp3 = show HEAD~3
  shd = show --submodule=diff
  shl = show --submodule=log
  shs = show --stat
  shsl = show --submodule=log
  shss = show --submodule=short
  sn = show-names
  sln = show-local-names
  snl = show-local-names
  snr = show-remote-names
  srn = show-remote-names
  shhf = show-head-file
  chf = show-head-file
