[alias]
  eq = equal
  nsh = !git --no-pager show
  nshs = !git --no-pager show
  sh = show
  shmr = show --diff-merges=remerge
  shms = show --diff-merges=separate
  shno = show --name-only
  shns = show --name-status
  shadr = show --diff-filter=ADR --name-status
  sno = !git --no-pager log -1 --format= --name-only
  sns = !git --no-pager log -1 --format= --name-status
  sadr = !git --no-pager log -1 --format= --diff-filter=ADR --name-status
  sard = !git --no-pager log -1 --format= --diff-filter=ADR --name-status
  sfh = show-sha-file HEAD
  shf = show-sha-file
  shfp = show-sha-file HEAD^
  ssf = show-sha-file
  shp = show HEAD^
  shp2 = show HEAD~2
  shp3 = show HEAD~3
  shd = show --submodule=diff
  shl = show --submodule=log
  shs = show --stat
  shsl = show --submodule=log
  shss = show --submodule=short
  shw = show -w
  sn = show-names
  sln = show-local-names
  snl = show-local-names
  snr = show-remote-names
  srn = show-remote-names
  shh = show-head
  shhf = show-head-file
  chf = show-head-file
