[alias]
  g = graph-all
  ga = graph-all
  gaa = graph-all -a
  gaal = graph-all -a -l
  gal = graph-all -l
  gala = graph-all -l -a
  gr = graph
  gr10 = gr -n 10
  grh = graph HEAD
  gra = graph -a
  grac = graph -ac
  gracd = graph -ac -d
  gracl = graph -ac -l
  grad = graph -a -d
  grd = graph -d
  grd10 = grd -n 10
  grdn = grd -n
  grl = graph -l
  grn = graph -n
