[alias]
  g = graph-all
  ga = graph-all
  gaa = graph-all -a
  gaal = graph-all -a -l
  gad = graph -A
  gadh = graph -A HEAD
  gal = graph-all -l
  gala = graph-all -l -a
  ghu = graph -u HEAD
  gr = graph
  gr10 = gr -n 10
  gra = graph -a
  grac = graph -ac
  gracd = graph -ac -d
  gracl = graph -ac -l
  gracle = graph -ac -l -e
  grad = graph -a -d
  grd = graph -d
  gre = graph -e
  grec = graph -e -C
  grd10 = grd -n 10
  grdn = grd -n
  grh = graph HEAD
  grhu = graph -u HEAD
  grl = graph -l
  grn = graph -n
  gru = graph -u
