[alias]
  g = graph-all
  ga = graph-all
  gaa = graph-all -a
  gaal = graph-all -a -l
  gal = graph-all -l
  gala = graph-all -l -a
  gr = graph
  gra = graph -a
  grd = graph --date=iso
  grdh = grd -n 10
  grdn = grd -n
  grh = graph -n 10
  grl = graph -l
  grn = graph -n
