[alias]
  fc = grep --recurse-submodules '<<<<<<<'
  gi = grep --recurse-submodules -i
  gl = grep --recurse-submodules -l
  gn = grep --recurse-submodules -n
  gp = grep --recurse-submodules
  gpp = grep --recurse-submodules -P
  gpi = grep --recurse-submodules -i
  gpl = grep --recurse-submodules -l
  gpn = grep --recurse-submodules -n
  gpq = grep -q
  kl = kill-lines
  pie = sub  # name derived from perl -pi -e

  cs3 = check-s3-buckets
