[alias]
  g = grep --recurse-submodules
  gi = grep --recurse-submodules -i
  gl = grep --recurse-submodules -l
  gn = grep --recurse-submodules -n
  kl = kill-lines
  fc = grep --recurse-submodules '<<<<<<<'
