[alias]
  a  = add
  af = add -f
  an = add -n
  aN = add -N
  ap = add -p
  dma = diff-then-maybe-add
  au = add -u
  auf = add -uf
  aud = !git add -u && git diff --cached
  aup = add -u -p
  apu = add -p -u
  aus = !git add -u && git status
