# .git-rc sources this file from your global `.gitconfig`


[color]
        branch  = auto
        diff    = auto
        grep    = auto
        status  = auto

[color "diff"]
       meta = yellow bold

[alias]
        cf   = config
        cg   = config --global
        cfa  = config --add
        cga  = config --add --global
        cfd  = config --unset
        cgd  = config --unset --global
        cfda = config --unset-all
        cgda = config --unset-all --global
        cfl  = config --get-all
        cgl  = config --get-all --global
        cfs  = config --list
        cgs  = config --list --global
        cfu  = config --unset
        cgu  = config --unset --global
        cfua = config --unset-all
        cgua = config --unset-all --global
        set-default-branch-main = config --global init.defaultBranch main
        sdbm = set-default-branch-main
        cfi = config --get-all include.path
        cgi = config --get-all --global include.path
        global-config-file = config --get-all --global include.path

        cfig = config --get-all core.excludesfile
        cfef = config --get-all core.excludesfile
        cgig = config --get-all --global core.excludesfile
        cgef = config --get-all --global core.excludesfile
        cfis = config core.excludesfile
        cgis = config --global core.excludesfile
        cfia = config --add core.excludesfile
        cgia = config --add --global core.excludesfile
        global-ignore-file = config --get-all --global core.excludesfile

        add-global-config-file = add-global-file include.path
        agi = add-global-ignore

        allow-pushes = config receive.denyCurrentBranch ignore
        aps = allow-pushes

        sid = set-id
        sgid = set-id -g
        gsid = set-id -g
        sidg = set-id -g
        gid = get-id
        ggid = get-id -g
        ue = config user.email
        un = config user.name
        gue = config --global user.email
        gun = config --global user.name

        shc = ssh-command
