# .git-rc sources this file from your global `.gitconfig`


[color]
        diff    = auto
        status  = auto
        branch  = auto
        grep = auto

[color "diff"]
       meta = yellow bold

[include]
        path = "../add/.gitconfig"
        path = "../admin/.gitconfig"
        path = "../branch/.gitconfig"
        path = "../check-ignore/.gitconfig"
        path = "../checkout/.gitconfig"
        path = "../cherry-pick/.gitconfig"
        path = "../commit/.gitconfig"
        path = "../conflicts/.gitconfig"
        path = "../describe/.gitconfig"
        path = "../diff/.gitconfig"
        path = "../fetch/.gitconfig"
        path = "../grep/.gitconfig"
        path = "../help/.gitconfig"
        path = "../log/.gitconfig"
        path = "../ls/.gitconfig"
        path = "../merge/.gitconfig"
        path = "../rebase/.gitconfig"
        path = "../reset/.gitconfig"
        path = "../rev-list/.gitconfig"
        path = "../stash/.gitconfig"
	path = ../remote/.gitconfig
	path = ../bisect/.gitconfig
	path = ../admin/.gitconfig
	path = ../graph/.gitconfig
	path = ../merge-base/.gitconfig
	path = ../mv/.gitconfig
	path = ../nav/.gitconfig
	path = ../push/.gitconfig
	path = ../rm/.gitconfig
	path = ../show/.gitconfig
	path = ../status/.gitconfig
	path = ../submodule/.gitconfig
	path = ../tag/.gitconfig
	path = ../version/.gitconfig
