[alias]
  co   = checkout
  co-  = checkout --
  cob  = checkout -b
  cof  = checkout -f
  coh  = checkout HEAD --
  com  = checkout main
  con  = checkout --no-recurse-submodules
  cop  = checkout-previous-branch
  cor  = checkout --recurse-submodules
  corf = checkout --recurse-submodules -f
  rw = restore-workflow
