[alias]
  co  = checkout
  cob = checkout -b
  cof = checkout -f
  coh = checkout HEAD --
  cop = checkout-previous-branch
  cor = checkout --recurse-submodules
  corf = checkout --recurse-submodules -f
