[alias]
  r         = remote -vv
  rv        = remote -vv

  ra        = remote add
  rao       = remote add origin
  rau       = remote add upstream

  re        = remote-exists
  is-remote = remote-exists
  ir        = is-remote
  cd        = copy-diffs
  lgp       = load-github-prs
  lpr       = load-github-prs
  mr        = mirror-remote
  up        = unpack-and-apply-diffs
  amr       = add-mirror-remote

  rr        = remote-rename
  rmv       = remote-rename
  rrm       = remote remove

  rsh       = remote set-head
  rsu       = remote set-url
