[alias]
  r         = remote -vv
  r0        = remote
  rv        = remote -vv

  rmp       = remote-path
  rmpe      = remote-path -e

  dfr       = default-remote
  drb       = remote-default-branch
  drn       = default-remote -n
  drt       = default-remote
  drv       = default-remote -v
  rdb       = remote-default-branch
  remote-get-head = remote-default-branch
  rgh       = remote-default-branch
  rshw      = remote show

  gor       = get-only-remote

  ra        = remote add
  raf       = remote add -f
  rao       = remote add origin
  rah       = remote-add.py --https
  ras       = remote-add.py --ssh
  rat       = remote-add.py -i
  rau       = remote add u

  rcp       = remote-copy

  re        = remote-exists
  is-remote = remote-exists
  ir        = is-remote
  cd        = copy-diffs

  lfu       = remote-list-fetch-urls
  lgp       = load-github-prs
  lpr       = load-github-prs
  lpu       = remote-list-push-urls
  lsr       = !ls-remote
  lsrh      = !ls-remote --heads
  lsrt      = !ls-remote --tags
  lrh       = !ls-remote --heads
  lrt       = !ls-remote --tags
  mr        = mirror-remote
  up        = unpack-and-apply-diffs
  amr       = add-mirror-remote

  rpa       = remote-branches-at
  rr        = remote-rename
  ruh       = remote-url-to-https
  rmv       = remote-rename
  rrm       = remote remove

  rsh       = remote-set-head
  rsha      = remote-set-head-auto

  get-url   = remote-get-url
  gru       = remote-get-url
  gu        = remote-get-url
  rgu       = remote-get-url
  sru       = remote-set-url
  rsu       = remote-set-url

  fnr       = find-only-remote

  ob        = !git_open_web_branch.py
  obn       = !git_open_web_branch.py -n
  obnu      = !git_open_web_branch.py -nu
  obnv      = !git_open_web_branch.py -nv
  obu       = !git_open_web_branch.py -u
  obv       = !git_open_web_branch.py -v
