[alias]
  dtc     = diff-theirs-conflicting
  dth     = diff-theirs
  dthc    = diff-theirs-conflicting
  pr      = pull --rebase
  rb      = rebase
  rba     = rebase --abort
  rbc     = rebase --continue
  crb     = checkout-and-rebase
  crh     = commit-rebase-head
  carb    = checkout-and-rebase
  corb    = checkout-and-rebase
  crbh    = commit-rebase-head
  mh      = merge-head
  rbh     = rebase-head
  rbhm    = rebase-head-message
  rebase-dag = rebase-dag.py
  rbd     = rebase-dag.py
  rbm     = rebase-head-message
  rbmb    = rebase-merge-base
  rbo     = rebase --onto
  rbot    = rebase-onto
  rbp     = rebase-parent
  rbs     = rebase --skip
  rbud    = rebase-upstream-diff
  rc      = rebase --continue
  rd      = rebase-diff
  ri      = rebase -i
  rir     = rebase -i --root
  rud     = rebase-upstream-diff
  rx      = rebase -i -x
  rhm     = rebase-head-message
  rim     = rebase -i master
  rq      = rebase-sequence
  arc     = add-rebase-continue
  arcn    = add-rebase-continue-no-edit
  oc      = original-commit
  oh      = original-head
  shoc    = show-original-commit
  shmh    = show-merge-head
  shoh    = show-original-head
  shrh    = show-rebase-head
  shrm    = rebase-head-message
  sqsq    = squash-sequence
  tw      = throw.py
  twa     = throw.py -a
  twp     = throw.py HEAD^
  twap     = throw.py -a HEAD^
