[alias]
  dtc     = diff-theirs-conflicting
  dth     = diff-theirs
  dthc    = diff-theirs-conflicting
  hblr    = head-before-last-rebase
  pr      = pull --rebase
  rb      = rebase
  rba     = rebase --abort
  rbc     = rebase --continue
  crb     = checkout-and-rebase
  crh     = commit-rebase-head
  carb    = checkout-and-rebase
  corb    = checkout-and-rebase
  crbh    = commit-rebase-head
  mh      = merge-head
  rbh     = rebase-head
  rbhm    = rebase-head-message
  rebase-dag = rebase-dag.py
  rbd     = rebase-dag.py
  rbi     = rebase-inline
  rbsi    = rebase-stdin
  rbsin   = rebase-stdin -n
  rsi     = rebase-stdin
  rsin    = rebase-stdin -n
  rbm     = rebase-head-message
  rbmb    = rebase-merge-base
  rbo     = rebase --onto
  rbro    = rebase -r --onto
  rbrio   = rebase -r -i --onto
  rbor    = rebase -r --onto
  rbori   = rebase -r -i --onto
  rbot    = rebase-onto
  rbp     = rebase-parent
  rbs     = rebase --skip
  rbu     = rebase-undo
  rbud    = rebase-upstream-diff
  rc      = rebase --continue
  rd      = rebase-diff
  ri      = rebase -i
  rio     = rebase -i --onto
  rir     = rebase -i -r
  rit     = rebase -i --root
  ro      = rebase --onto
  rri     = rebase -r -i
  rrio    = rebase -r -i --onto
  rro     = rebase -r --onto
  rud     = rebase-upstream-diff
  rix     = rebase -i -x
  rx      = rebase -x
  rhm     = rebase-head-message
  rim     = rebase -i master
  rq      = rebase-sequence
  arc     = add-rebase-continue
  arcn    = add-rebase-continue-no-edit
  oc      = original-commit
  oh      = original-head
  roc     = reorder-commits
  rocn    = reorder-commits -n
  sho     = squash-head-onto
  shon    = squash-head-onto -n
  shoc    = show-original-commit
  shmh    = show-merge-head
  shoh    = show-original-head
  shrh    = show-rebase-head
  shrm    = rebase-head-message
  sqsq    = squash-sequence
  tw      = throw.py
  twa     = throw.py -a
  twap     = throw.py -a HEAD^
  twap2    = throw.py -a HEAD~2
  twap3    = throw.py -a HEAD~3
  throw-head = squash-head-onto
  twh     = throw-head
  twhn    = throw-head -n
  twp     = throw.py HEAD^
