[alias]
  current-tags = tag --points-at
  ctgs = current-tags
  gt = get-tag
  it = is-tag

  t  = tags
  td = tag -d
  tf = tag -f
  tg = tag
  th = tags -n 10
  tl = tag -l
  tn = tags -n
  tp = tag --format='%(color:green)%(objectname:short)%(color:reset)%09%(color:yellow)%(refname:strip=2)%(color:reset)%09%(color:red)%(creatordate:iso)%(color:reset)%09%(color:blue)%(creatordate:relative)%(color:reset)'
  tpa = tag --points-at
