[alias]
  mp = me-push
  mpf = me-push-force
  pm = push-to-master
  po = push-to-remote-branch origin
  p = push-x
  px = push-x
  pn = push -n
  pnt = push -n --tags
  pt = push --tags
  pon = push -n origin
  pno = push -n origin
  pun = push -n upstream
  pnu = push -n upstream
  put = push --tags upstream
  ptu = push --tags upstream
  pot = push --tags origin
  pto = push --tags origin
  pu = push-to-remote-branch upstream
  spf = safe-push-force
  spfo = safe-push-force origin
  spfu = safe-push-force upstream
