[alias]
  mp = me-push
  mpf = me-push-force
  pm = push-to-master
  po = push-to-remote-branch origin
  pt = push --tags
  pu = push-to-remote-branch upstream
  spf = safe-push-force
  spfo = safe-push-force origin
  spfu = safe-push-force upstream
