[alias]
  s       = stash
  sd      = stash drop
  sl      = stash list
  ss      = stash save
  ssk     = stash save -k
  sk      = stash save -k
  sa      = stash apply
  sp      = stash pop
  ssp     = stash show -p
  sth     = stash show
  sv = stash-view
