[alias]
  ps    = !git pull --rebase && git submodule update --init --rebase --recursive
  rhsl  = rebase-head-submodule-log
  sac   = submodule-auto-commit
  saca  = submodule-auto-commit -a
  sacam = submodule-auto-commit -am
  sacan = submodule-auto-commit -an
  sacm  = submodule-auto-commit -m
  sacmr = submodule-auto-commit -mr
  sacn  = submodule-auto-commit -n
  saf   = submodule add -f
  sm    = submodule
  sma   = submodule add --quiet
  smab  = submodule add -b
  smac  = submodule-auto-commit
  smaf  = submodule add -f
  smc   = submodule-commits
  smd   = submodule deinit
  smi   = submodule init
  sg    = submodule-log
  slg   = submodule-log
  smg   = submodule-log
  smlg  = submodule-log
  sms   = submodules
  smst  = submodule status
  smt   = submodule status
  fes   = submodule foreach --recursive --quiet
  sf    = submodule foreach --recursive --quiet
  sfe   = submodule foreach
  sfq   = submodule foreach --quiet
  sfv   = submodule foreach --recursive
  smf   = submodule foreach --recursive --quiet
  srl   = submodule-rebase-log.py
  srlv  = submodule-rebase-log.py -v
  ssh   = submodule-shas
  sst   = submodule-shas
  smr   = !git reset . && git submodule update --recursive
  smrs  = !git reset . && git submodule update --recursive && git status
  sr    = !git reset . && git submodule update --recursive
  srs   = !git reset . && git submodule update --recursive && git status
  smir  = !git submodule init && git submodule update --recursive
  smh   = submodule-sha
  smid  = submodule-sha
  smsh  = submodule-sha
  smsha = submodule-sha
  smshs = submodule-shas
  smu   = submodule update --recursive
  smuf  = submodule update --recursive -f
  smiu  = submodule update --init --recursive
  smui  = submodule update --init --recursive
  smuq  = submodule update --quiet
  smur  = submodule update --init --recursive
  smurf = submodule update --init --recursive -f
  smurq = submodule update --recursive --quiet
  smurr = submodule update --recursive --rebase
  smurrr = submodule update --recursive --rebase --remote
  smus  = submodule update
  sss   = submodule-set-sha
  su    = submodule update --recursive
  suf   = submodule update --recursive -f
  suq   = submodule update --quiet
  sur   = submodule update --recursive
  sus   = submodule update
  surq  = submodule update  --recursive --quiet
  scc   = submodule-count-commits
  smcc  = submodule-count-commits
  sml   = submodule foreach --quiet --recursive 'echo $displaypath'
  smn   = submodule foreach --quiet 'echo $name'
  smp   = submodule foreach --quiet --recursive 'echo $displaypath'
  smlf  = submodule foreach --quiet --recursive 'echo $name $displaypath $sha1'
  smlp  = submodule foreach --quiet --recursive 'echo $name $displaypath $sha1'
  ism   = is-submodule
  is    = is-submodule
  ftd   = filter-to-dir
  src   = submodule-rebase-continue.py
