[alias]
  sm   = submodule --quiet
  sma  = submodule add --quiet
  sms  = submodule status --quiet
  smfe = submodule foreach --quiet
  sf   = submodule foreach --quiet
  smu  = submodule update --quiet
  su   = submodule update --quiet
  sml  = submodule foreach --quiet 'echo $name'
  smp  = submodule foreach --quiet 'echo $path'
