[alias]
  ps    = !git pull --rebase && git submodule update --init --recursive
  sm    = submodule
  sma   = submodule add --quiet
  smd   = submodule deinit
  smi   = submodule init
  smlg  = submodule-log
  sms   = submodules
  smst  = submodule status
  smt   = submodule status
  fes   = submodule foreach --recursive --quiet
  sf    = submodule foreach --recursive --quiet
  sfv   = submodule foreach --recursive
  smf   = submodule foreach --recursive --quiet
  ssh   = submodule-shas
  sst   = submodule-shas
  smu   = submodule update
  smir  = !git submodule init && git submodule update --recursive
  smh   = submodule-sha
  smid  = submodule-sha
  smsh  = submodule-sha
  smsha = submodule-sha
  smshs = submodule-shas
  smuf  = submodule update --recursive --rebase
  smur  = submodule update --recursive --init
  smurr = submodule update --recursive --rebase
  smuq  = submodule update --quiet
  smurq = submodule update --recursive --quiet
  su    = submodule update
  suq   = submodule update --quiet
  sur   = submodule update --recursive
  surq  = submodule update  --recursive --quiet
  smcc  = submodule-check-commits
  sml   = submodule foreach --quiet --recursive 'echo $displaypath'
  smn   = submodule foreach --quiet 'echo $name'
  smp   = submodule foreach --quiet --recursive 'echo $displaypath'
  smlf  = submodule foreach --quiet --recursive 'echo $name $displaypath $sha1'
  smlp  = submodule foreach --quiet --recursive 'echo $name $displaypath $sha1'
  ism   = is-submodule
  is    = is-submodule
  ftd = filter-to-dir
