[alias]
  ct = !$SRCDIR/git-conflicting-checkout-theirs.sh
  cl = conflict-lines
  coo = checkout --ours --
  cot = checkout --theirs --
  coco = conflicting-checkout-ours
  cococ = conflicting-checkout-ours-and-continue
  coct = conflicting-checkout-theirs
  coctc = conflicting-checkout-theirs-and-continue
  uu = conflicting
